:root {
    --bg-clr: hsl(220 10% 10%);
    --txt-clr: hsl(220 10% 98%);
}

/* html, body { */
    /* height: 100%; */
/* } */

body {
    /* display: flex; */
    /* flex-direction: column; */
    /* Center items horizontally */
    /* align-items: center;  */
    /* Center items vertically */
    /* justify-content: center; */
    font-family: 'Manrope Variable' , sans-serif;
    color: var(--txt-clr) !important;
    background-color: var(--bg-clr) !important;
    transition: background-color 0.3s, color 0.3s;
}